// User variables:
$accent: orange;
$text-gray: #3f4954;
$text-light: #686666da;
$bg-color: #0f0f0f;
$white: #fff;
$midnight: #104f55;

$sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
